<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081415984817-0or1vv8nqspu3h8unnmh8hhu9lnm401s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081415984817-0or1vv8nqspu3h8unnmh8hhu9lnm401s</string>
	<key>API_KEY</key>
	<string>AIzaSyDj0IV9A7sn2DVSY8ZS2FC1oMtYXzGo72k</string>
	<key>GCM_SENDER_ID</key>
	<string>1081415984817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ericchang.UPic</string>
	<key>PROJECT_ID</key>
	<string>upic-a2216</string>
	<key>STORAGE_BUCKET</key>
	<string>upic-a2216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081415984817:ios:b0e3fa6ab5beee02</string>
	<key>DATABASE_URL</key>
	<string>https://upic-a2216.firebaseio.com</string>
</dict>
</plist>